html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

input {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.45;
    color: #000;
    background-color: $lgray;

    &.lock {
        overflow-y: hidden;
    }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.object-fit {
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';

    &--left {
        object-position: left;
        font-family: 'object-fit: cover; object-position: left;';
        object-fit: cover;
    }
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;

    @media (max-width:975px) {
        padding: 0 10px;
    }

    @media (max-width: 585px) {
        padding: 0 5px;
    }
}

.calls-menu {
    flex: 0 0 170px;
    position: relative;
    padding-left: 30px;
    li {
        margin-bottom: 2px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    &__link  {
        color: #010101;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        font-weight: 500;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 26px;
        background-image: url(../images/icons/icons.svg#phone);
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    &__popup {
        cursor: pointer;
    }

}

.mail-link {
    display: flex;
    align-items: center;
    color: $black;
    &::before {
        content: '';
        margin-right: 10px;
        width: 26px;
        height: 26px;
        background-image: url(../images/icons/icons.svg#mail);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -2px -7px;
    }

    &:hover {
        text-decoration: underline;
    }

}

.social-list {

    li {
        display: inline-block;
    }

}

.social__link {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;

    &--ytb {
        background-color: #e14e42;
    }

    &--fcb {
        background-color: #3a559f;
    }

    &--vbr {
        background-color: #7b519d;

    }
}

.title-mid {
    color: $dgray;
    font-size: calc(20px + 2 * ((100vw - 320px)/ (1200 - 320)));
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;

}

.items-head {
    display: flex;
    padding: 30px 15px;

    &__title {
        flex: 1 1 auto;
        text-align: center;

    }

    &__link {
        color: $orng;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.375;
        text-decoration: underline;
        transition: color .2s;

        &:hover {
            color: $dgray;
        }
    }

    @media (max-width: 975px) {
        padding: 20px;
    }

    @media (max-width: 585px) {
        flex-wrap: wrap;
        padding: 15px 5px;

        &__title {
            flex: 1 1 100%;
        }

        &__link {
            font-size: 14px;
            line-height: 22px;
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 7px;
        }
    }
    @media (max-width: 475px) {
       padding: 10px 5px;
       
        &__link {
            margin-top: 3px;
        }
    }
}

.swiper-wrapper {
    box-sizing: border-box;
}

// small-card 
.small-card {
    display: flex;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 30px;
        flex-basis: 25%;
        background-color: #fff;
        box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.1);

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__images {
        flex: 1 1 auto;
        max-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        color: #000;
        max-width: 180px;
        width: 100%;
        min-height: 52px;
    }

    @media (max-width: 905px) {

        &__item {
            padding: 15px;

            &:not(:last-child) {
                margin-right: 15px;
            }

        }

        &__text {
            font-size: 16px;
        }
    }

    @media (max-width: 675px) {
        justify-content: space-between;
        flex-wrap: wrap;

        &__item {
            flex-basis: calc(50% - 5px);
            margin-bottom: 10px;

            &:not(:last-child) {
                margin-right: 0px;
            }
        }
    }
}


// small-card 
// scroll 

.scroll {

    &__inner {
        height: 125px;
        overflow-y: auto;
        padding-right: 35px;
    }

    &__text {
        font-size: 13px;
        color: $dgray;
    }

    .simplebar-scrollbar {

        &::before {
            width: 4px;
            border-radius: 2px;
            background-color: $dorng;
            opacity: 1;
            left: 0;
            top: 0;
            bottom: 0;
        }
    }

    .simplebar-track {
        width: 4px;
        background-color: $alto;
        border-radius: 2px;
        opacity: 1;
    }

    @media (max-width: 768px) {
        &__inner {
            height: 160px;
            padding-right: 20px;
        }
    }

    @media (max-width: 475px) {
        &__inner {
            padding-right: 15px;
        }
    }
}

.youtube-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #d42428 50%, rgb(20, 20, 20) 100%);
    background-size: 210%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    transition: background-position .4s linear;

    &:hover {
        background-position: 100%;
    }

    &:hover .youtube-btn__square {
        transform: scale(1.1);
    }

    &__square {
        position: relative;
        background-color: #fff;
        height: 27px;
        width: 39px;
        border-radius: 4px;
        transition: transform .4s linear;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-25%, -50%) scale(1);
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-right: 7px solid transparent;
            border-left: 12px solid $darkred;
            box-shadow: $shadow;
        }
    }
}

// scroll 

//anchor
.anchor{
    position: fixed;
    right: 285px;
    bottom: 145px;
    z-index: 15;
    visibility: visible;
    opacity: 1;
    transition: opacity .3s linear;
    
    &--hidden {
        visibility: hidden;
        opacity: 0;
    }

    @media (max-width: 1900px) {
        right:20px;
        bottom: 50px;
    }
}
.anchor-top {
    background-color: $orng;
    width: 76px;
    height: 76px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .2s linear;

    &:hover {
        opacity: 1;
    }

    svg {
        fill: $white;
    }
    @media (max-width: 768px ) {
        height: 50px;
        width: 50px;
        svg {
            width: 35px;
            height: 35px;
        }
    }
    @media (max-width: 550px ) {
        height: 35px;
        width: 35px;
        svg {
            width: 25px;
            height: 25px;
        }
    }

}

//anchor


.copyright {
    font-size: 14px;
    color: $textgray;
}