/* cont popup */
.out-popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    visibility: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.90);
    opacity: 0;
    -webkit-transition: .55s;
    -o-transition: .55s;
    transition: .55s;
    z-index: 0;
}

/* btn close  */
.close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    line-height: 1;
    right: 4px;
    top: 4px;
    background: gray;
    transition: .35s;
    cursor: pointer;
}
.close:hover {
    background: red;
}
/* content popup */
.popup-window {
    will-change: transform;
    max-width: 550px;
    max-height: 95vh;
    overflow: auto;
    padding: 15px;
    background: #ffffff;
    color: #313030;
    -webkit-transition: .52s;
    -moz-transition: .52s;
    -o-transition: .52s;
    transition: .52s;
    -moz-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    -ms-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    -o-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    z-index: 1000;
    padding: 35px;
}


.view__out {
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.view__popup {
    -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    -moz-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    -ms-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    -o-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);

}

.hidden__popup {
    -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    -moz-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    -ms-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    -o-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}


/* scroll content popup  */

/* .popup-window::-webkit-scrollbar {
    width: 0;
}

.popup-window {
    -ms-overflow-style: none;
}

.popup-window {
    scrollbar-width: none;
} */

/* scroll   */