@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import '_vars';
@import '_global';
@import '_fonts';
@import '_popup.scss';

.header {
  background-color: $white;

  &__inner {
    display: flex;
  }

  &__logo {
    flex: 0 1 262px;

    img {
      max-width: 100%;
    }

    @media (max-width: 975px) {
      flex: 0 1 200px;
    }

    @media (max-width: 685px) {
      flex: 0 1 160px;
    }

    @media (max-width: 475px) {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;

      img {
        max-width: 160px;
      }
    }

  }

  &-content {
    flex: 1 1 auto;
    margin-right: 25px;

    @media (max-width: 1065px) {
      margin-right: 10px;
    }

    @media (max-width: 685px) {
      margin-right: 0px;
    }
  }
}

.header-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;

  @media (max-width: 975px) {
    padding: 10px 0;
    justify-content: start;
  }

  @media (max-width: 475px) {
    justify-content: space-between;
  }
}

.header-calls {
  margin: 0 10px;

  @media (max-width: 975px) {
    margin-bottom: 10px;

    &:before {
      display: none;
    }
  }
}

.header-mail {
  flex: 0 1 180px;
  margin-right: 10px;

  @media (max-width: 975px) {
    flex: none;
    margin-right: 0;

    &__link {
      margin: 0 15px;

      &:before {
        width: 37px;
        height: 30px;
        margin-right: 0;
      }
    }

    span {
      display: none;
    }
  }

  &__link {
    margin: 0 0 5px 0;

    @media (max-width: 475px) {
      display: block;
      text-align: center;
      margin: 0;

      &:before {
        content: none;
      }

      span {
        color: #fff;
        font-size: 18px;
      }

    }
  }
}

.header-callback-btn {
  width: 100%;
  background-color: #161615;
  color: #fff;
  padding: 12px 15px;
  transition: opacity .2s linear;

  &:hover {
    opacity: 0.5;
  }
}

.header-box {
  flex: 0 1 160px;
  text-align: right;

  @media (max-width: 975px) {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 7px;
  }

  @media (max-width: 475px) {
    display: none;
  }
}

.header-social {
  margin-bottom: 15px;

  li+li {
    margin-left: 15px;
  }

  a {
    opacity: 0.5;
    transition: opacity .2s linear;

    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: 975px) {
    text-align: center;

    a {
      opacity: 1;
    }
  }

}

.header-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: '';
    width: 23px;
    height: 23px;
    background-image: url(../images/icons/icons.svg#input);
    @include bg;
    margin-right: 15px;

  }

  @media (max-width: 975px) {

    span {
      display: none;
    }

    &:before {
      width: 27px;
      height: 27px;
      margin-right: 0;
    }
  }

  @media (max-width: 475px) {

    justify-content: center;
    margin-bottom: 35px;
    color: #fff;

    span {
      color: #fff;
      font-size: 20px;
      display: block;
      text-transform: uppercase;
    }

    &:before {
      display: none;
    }
  }

}

.header-content-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.catalog {
  background-color: $dorng;
  cursor: pointer;
  position: relative;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 15px 14px 15px;

    @media (max-width: 585px) {
      padding: 7px 15px;
    }

    span {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin-right: 10px;
    }

    &.active {

      .catalog__icon {
        fill: #fff;
        opacity: 1;
      }
    }

  }

  &__icon {
    transform: rotate(90deg);
    fill: #ccc;
    opacity: 0.6;
    transition: fill .2s linear, opacity .2s linear;
  }

  &-menu {
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    background-color: $orng;
    width: 100%;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: .3s;

    &.active {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &-item {
    position: relative;

    &.active {

      .catalog-item__inner {
        background-color: transparent;

      }

      .catalog-item__inner:before {
        background-color: #fff;
        transform: scaleX(1.1);
      }

      .catalog-item__name {
        color: $black;
      }

      .catalog__menu-l2 {
        opacity: 1;
        transform: scaleX(1);

        @media (max-width: 585px) {
          width: 100%;
          display: block;
        }
      }
    }
  }

  &-item__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 56px;
    font-size: 17px;
    padding: 5px 15px;
    overflow: hidden;

    svg {
      position: relative;
      z-index: 3;
      flex: 0 0 auto;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: $orng;
      width: 100%;
      height: 100%;
      z-index: 2;
      transition: background-color .2s linear, transform .2s linear;
    }

    @media (max-width: 585px) {
      height: auto;
      padding: 8px 10px;
    }

  }

  &-item__name {
    color: #fff;
    margin-right: 2px;
    position: relative;
    z-index: 3;
    transition: color .2s linear;

  }
}

.l2-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100%;
  width: 265px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform .3s;
  box-shadow: 0px 2px 50px 0px #00000014;

  @media (max-width: 585px) {
    display: none;
    left: 0;
    z-index: 6;
    position: static;
  }
}

.l2-menu__list {
  background-color: $dorng;

  li {
    display: flex;
    align-items: center;
    color: #fff;
    height: 56px;
    padding: 5px 15px 5px 30px;
    overflow: hidden;

    &:hover {
      background-color: #fff;
      color: $black;
    }
  }

  @media (max-width: 585px) {
    li {
      padding: 10px 15px;
      height: auto;
    }
  }
}

.l2-menu__link {
  width: 100%;
  background-color: #fff;
  padding: 15px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  svg {
    fill: $dorng;
  }

  @media (max-width: 585px) {
    padding: 10px 15px;
  }
}

.header-catalog {
  flex: 0 0 278px;
  margin: 0 28px 0 0;

  @media (max-width: 1095px) {
    flex: 0 1 278px;
    min-width: 205px;
    margin: 0 10px 0 0;
  }

}

.header-nav {
  flex: 1 1 450px;
  margin-right: 10px;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    text-transform: uppercase;
    vertical-align: top;
    line-height: 1;
    @include ovrf;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    line-height: 16px;
    padding-right: 15px;

  }

  li+li {
    padding-left: 18px;
    border-left: 1px solid $gray;
  }

  @media (max-width: 1065px) {

    li {
      padding-right: 7px;
    }

    li+li {
      padding-left: 7px;
    }
  }


  @media (max-width: 975px) {
    flex: 0;
    margin-right: 0;

    &__menu {
      display: block;
      margin-bottom: 20px;
    }

    &__link {
      font-size: 20px;
      color: #fff;
    }

    li {
      padding-right: 0px;
      text-align: center;
    }

    li+li {
      padding-left: 0px;
      border-left: none;
      margin-top: 20px;
    }

  }
}

.header-form {
  flex: 1 1 262px;
  position: relative;
  align-self: flex-start;
  margin-top: 3px;
  min-width: 155px;

  &__input {
    display: block;
    width: 100%;
    border: 1px solid $dorng;
    background-color: #fdf9e4;
    line-height: 20px;
    padding: 8px 60px 8px 13px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 37px;
  }

  @media (max-width: 975px) {
    margin-top: 0;
    align-self: center;
  }

  @media (max-width: 550px) {
    display: block;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    opacity: 0;
    transform: scale(0);
    transition: opacity .2s linear, transform .2s linear;
    transform-origin: top center;

    &.active {
      opacity: 1;
      transform: scale(1);

    }
  }

}

.search-btn {
  display: none;

  &.active {
    opacity: 0.6;
    transition: opacity .3s linear;
  }

  @media (max-width: 550px) {
    display: block;
  }
}

.header-basket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $turq;
  flex: 0 0 111px;
  padding: 30px 25px;
  font-size: 16px;
  text-align: center;
  color: rgba(#ffffff, 0.6);

  &__circle {
    display: none;
  }

  svg {
    fill: #fff;
    width: 37px;
    height: 34px;
  }

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 975px) {
    padding: 15px;
  }

  @media (max-width: 685px) {
    flex: 0 0 30px;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    position: relative;
    margin-left: 25px;

    &__text {
      display: none;
    }

    &__circle {
      display: block;
      width: 22px;
      height: 22px;
      padding: 0 3px;
      background-color: $turq;
      border-radius: 50%;
      color: #fff;
      line-height: 22px;
      font-size: 12px;
      text-align: center;
      position: absolute;
      top: 0;
      right: 50%;
      transform: translate(50%, -13px);
      @include ovrf;
    }

    svg {
      fill: #fd9d05;
      width: 29px;
      height: 29px;
    }
  }

  @media (max-width: 475px) {
    margin-left: 0;
  }
}

/* brg */
.header__brg {

  display: none;
  position: relative;
  z-index: 21;
  width: 30px;
  height: 20px;
  cursor: pointer;

  @media (max-width: 975px) {
    display: block;
    margin-right: 15px;

  }

}

.brg-menu {
  opacity: 0;
  transform: translate3d(-110%, 0, 0);
  transition: opacity .1s linear, transform .2s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba($dorng, 0.95);
  width: 61%;
  height: 100vh;
  overflow-y: auto;
  padding: 65px 15px 45px;

  &__phone {
    display: none;
    padding-left: 0;
  }

  &.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  @media (max-width: 585px) {

    
  }

  @media (max-width: 475px) {
    width: 100%;

    &__phone {
      display: block;

      &::before {
        content: none;
      }

      li {
        text-align: center;
      }

      a {
        color: #fff;
        font-size: 18px;
      }
    }
  }

}

.header__brg span {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: $dorng;
  position: absolute;
  top: 9px;
  transform: scale(1);
  transition: transform .2s linear;
}

.header__brg::after,
.header__brg::before {
  content: "";
  border-radius: 1px;
  width: 100%;
  height: 3px;
  background-color: $dorng;
  position: absolute;
  left: 0;
  transition: transform .3s linear;
}

.header__brg::after {
  top: 0;
}

.header__brg::before {
  bottom: 0;
}

.header__brg.active:before {
  transform: rotate(45deg);
  bottom: 8px;
  background-color: #fff;
}

.header__brg.active:after {
  transform: rotate(-45deg);
  top: 9px;
  background-color: #fff;
}

.header__brg.active span {
  transform: scale(0);
  background-color: #fff;
}

.popup-calls__btn {
  width: 28px;
  height: 28px;
  background-image: url(../images/icons/icons.svg#phone);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: cover;
  cursor: pointer;
  display: none;

  @media (max-width: 975px) {
    display: block;
  }

  @media (max-width: 475px) {
    display: none;
  }

}

.popup-calls__content {
  .header-calls {
    padding-left: 0;
  }

  .calls-menu {
    li {
      margin-bottom: 15px;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .calls-menu__link {
    font-size: 24px;

  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.main-slider {
  padding-top: 24px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;

  &.container {
    @media (max-width: 975px) {
      padding: 10px 10px 0px;
    }

    @media (max-width: 585px) {
      padding: 5px 5px 0px;
    }
  }

  &__wrapper {
    position: relative;
    max-width: 862px;
    width: 100%;
    max-height: 448px;
    overflow: hidden;

    @media (max-width: 1214px) {
      max-width: 100%;
    }
  }

  &__slide {
    display: block;
    position: relative;
  }

  &__img {
    position: relative;
    padding-bottom: 49.8%;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__circle {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 470px;
    width: 100%;
    transform: translate(7%, -34%);
    border-radius: 50%;
    background-color: rgba(141, 139, 139, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0 100px 0;

    @media (max-width: 975px) {
      max-width: 325px;
      padding: 140px 0 70px 0;
    }

    @media (max-width: 475px) {
      max-width: 260px;
      padding: 100px 0 60px;

    }
  }

  &__text {
    color: #fff;
    max-width: 230px;

  }

  &__title {
    font-size: calc(20px + 14 * ((100vw - 320px) / (1200 - 320)));
    font-weight: 700;
    line-height: 1.33;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (max-width: 475px) {
      padding-left: 25px;
    }

    @media (min-width: 1200px) {
      font-size: 34px;
    }

  }

  &__subtitle {
    font-size: 20px;
    text-align: center;

    @media (max-width: 685px) {
      font-size: 16px;
    }
  }

  &__price {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-0%, 12%);
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: $orng;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #35302d;
    line-height: 1;
    @include ovrf;

    span {
      font-size: calc(18px + 22 * ((100vw - 320px) / (1200 - 320)));
      color: #fff;
      margin: 10px 0;
      max-width: 115px;
      @include ovrf;

      @media (min-width: 1200px) {
        font-size: 40px;
      }

    }


    @media (max-width: 975px) {
      bottom: 30px;
      left: -55px;
      font-size: 16px;
      height: 115px;
      width: 115px;

      span {
        margin: 3px;
        max-width: 75px;

      }
    }

    @media (max-width: 475px) {
      width: 95px;
      height: 95px;
      bottom: -30px;
      left: 0;
    }
  }

  .swiper-pagination {
    left: 0;
    bottom: 20px;
    z-index: 1;

    @media (max-width: 685px) {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: 1;
    margin-right: 24px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .swiper-pagination-bullet-active {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      transform: translate(-50%, -35%);
      width: 32px;
      height: 32px;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }

  @media (max-width: 1214px) {

    &__img {
      min-height: 240px;
      position: relative;
      padding-bottom: 36.8%;

    }
  }

}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }
}


.swiper-button-prev {
  left: 0;
  transform: rotate(180deg) translate(40%, 0);

  @media (max-width: 1215px) {
    left: 5px;
  }
}

.swiper-button-next {
  right: 0;
  transform: translate(40%, 0);

  @media (max-width: 1215px) {
    right: 5px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 2;
  background-color: $lgray;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  &:hover svg {
    fill: $orng;
    stroke: $orng;
    stroke-width: 2px;
    stroke-linejoin: round;
  }

  &:after {
    content: none;
  }

  svg {
    fill: $slidbtn;
    stroke: $slidbtn;
  }
}

.swiper-slide {
  height: auto;
}

//main slider

//slider-items

.slider-items__inner {
  position: relative;
}


.slider-items-body {
  display: flex;
  border: 1px solid $border;
}

.slider-card {
  padding: 15px;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  border: 2px solid transparent;
  transition: border .2s;
  position: relative;

  &:hover {
    border: 2px solid $orng;
    box-shadow: $shadow;
  }

  &__images {
    max-width: 100%;
    max-height: 235px;
    margin-bottom: 15px;

    img {
      height: 100%;
      max-width: 100%;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-self: stretch;
    margin-bottom: 20px;
    flex: 1 1 auto;

    span {
      display: inline-block;
      max-width: 225px;
    }
  }

  &__price {
    margin-bottom: 10px;
  }

  &__buy {
    margin-bottom: 12px;
  }

  @media (max-width: 1114px) {
    max-width: 330px;
    margin: 0 auto;
  }

  @media (max-width: 861px) {
    padding: 5px;

    &__title {
      margin-bottom: 5px;

      span {
        max-width: 100%;
        padding: 0px 5px;
      }
    }

    &__price {
      margin-bottom: 5px;
    }

    &__buy {
      margin-bottom: 7px;
      min-height: 45px;
    }
  }

  @media (max-width: 536px) {
    max-width: 370px;

    &__images {
      max-width: 100%;
      max-height: 280px;
      margin-bottom: 15px;
    }
  }
}

.card-price {

  &__before {
    color: $dgray;
    font-size: 16px;
    position: relative;
    margin: 0 10px;
    text-transform: uppercase;
    @include ovrf;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: -8px;
      transform: translate(0, -100%);
      width: calc(100% + 15px);
      height: 2px;
      background-color: #ff0000;
      z-index: 3;

    }
  }

  &__now {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
    @include ovrf;
  }
}

.button-buy {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $orng;
  min-height: 50px;
  padding: 5px 15px;
  transition: background-color .2s linear;

  span {
    text-transform: uppercase;
    transition: color .2s linear;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #000;
    margin: 0 20px 7px 0;
    transition: fill .2s linear;
  }

  &:hover svg {
    fill: #fff;
  }

  &:hover span {
    color: #fff;
  }

  &:hover {
    background-color: $orng;
  }
}

.button-compare {
  font-size: 14px;
  position: relative;
  padding: 8px 0 8px 45px;

  &:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -7px;
    z-index: 5;
    background-image: url(../images/icons/icons.svg#libra);
    height: 55px;
    width: 46px;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: -1px;
    top: 8;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $turq;
    transform: translate(0, -25%);
  }
}

.slider-card__label {
  position: absolute;
  top: -2px;
  left: -2px;
  border-top: solid 44px;
  border-left: solid 44px;
  border-bottom: solid 44px transparent;
  border-right: solid 44px transparent;

  span {
    position: absolute;
    display: flex;
    height: 44px;
    max-width: 76px;
    align-items: center;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: -15px;
    left: -15px;
    font-size: 14px;
    line-height: 1.1;
    color: #fff;
    padding: 2px 4px;
    overflow: hidden;
  }

  &--bestseller {
    border-top-color: $orng;
    border-left-color: $orng;
  }

  &--promo {
    border-top-color: $red;
    border-left-color: $red;
  }

  &--new {
    border-top-color: $green;
    border-left-color: $green;
  }
}

//slider-items

// mailing 
.main-mailing {
  margin-top: 45px;
  overflow: hidden;

  @media (max-width: 775px) {
    margin-top: 20px;
  }

  @media (max-width: 475px) {
    margin-top: 10px;
  }
}

.mailing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 110px;
  background-color: $persianGreen;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-3%, -9%);
    background-image: url(../images/mailling/mail.png);
    @include bg;
    width: 153px;
    height: 135px;
  }

  label {
    font-size: 16px;
    font-weight: 500;
    color: #fefefe;
    text-transform: uppercase;
    padding-right: 10px;
  }

  &__box {
    flex: 0 1 460px;
    position: relative;
  }

  input {
    display: block;
    width: 100%;
    padding: 8px 60px 8px 10px;
    border: 1px solid $morningGlory;
    background-color: $downy;
    position: relative;

    &::placeholder {
      color: #fefefe;
      font-size: 14px;
    }
  }

  button {
    width: 58px;
    height: 38px;
    position: absolute;
    right: -4px;
    top: -2px;
    overflow: hidden;

    &:hover svg {
      fill: $dorng
    }

    svg {
      fill: #d9f4f3;
      transition: fill .2s;
    }

  }

  @media (max-width: 1165px) {
    padding: 20px;
  }

  @media (max-width: 705px) {
    flex-wrap: wrap;
    padding: 10px;

    label {
      flex: 1 1 auto;
      text-align: center;
      margin-bottom: 10px;
    }

    &__box {
      flex: 1 1 auto;

    }
  }
}


// mailing 

// video-slider
.video-slider {
  margin-bottom: 40px;

  &__content {
    padding-bottom: 65px;
  }

  &__item {
    position: relative;
    padding-bottom: 53%;
    overflow: hidden;
    min-height: 265px;
  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 100%;

    img {
      height: 100%;
      max-width: 100%;
    }
  }

  &__circle {
    width: 310px;
    height: 278px;
    border-radius: 50%;
    background-color: $orng;
    position: absolute;
    left: 20px;
    bottom: 0;
    z-index: 5;
    transform: translate(0, 35%);
    padding: 50px 50px 130px;
    text-align: center;
  }

  &__title {
    display: inline-block;
    max-width: 180px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  &__link {
    font-size: 18px;
    color: #a36708;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: $gray;
    opacity: 1;
    margin-right: 24px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .swiper-pagination-bullet-active {
    position: relative;
    background-color: $orng;

    &:after {
      content: '';
      position: absolute;
      transform: translate(-50%, -35%);
      width: 32px;
      height: 32px;
      border: 1px solid $orng;
      border-radius: 50%;
    }
  }

  @media (max-width: 770px) {
    margin-bottom: 10px;

    &__content {
      padding-bottom: 50px;
    }

    &__item {
      padding-bottom: 45%;
      max-width: 445px;
      margin: 0 auto;
    }
  }

  @media (max-width: 410px) {
    &__circle {
      height: 260px;
      width: 290px;
      left: 0;
      padding: 65px 30px 100px;
    }
  }
}

.video-slider {

  &__btn {
    position: absolute;
    top: 0px;
    right: -25px;
    transform: translate(0, 75%);
  }

  @media (max-width: 410px) {
    &__btn {
      top: -75px;
      left: 40px;
      right: auto;
    }
  }
}

// video-slider

//faq-info
.faq-info {
  margin-bottom: 70px;

  @media (max-width: 770px) {
    margin-bottom: 25px;
  }

  @media (max-width: 575px) {
    margin-bottom: 15px;
  }

  @media (max-width: 410px) {
    margin-bottom: 10px;
  }

}


//faq-info

//footer

.footer-top {
  background-color: $masala;
  padding: 30px 0;

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__col {
    flex: 0 1;

    &:not(:last-child) {
      padding-right: 4px;
    }

    &--col1 {
      flex-basis: 360px;
    }

    &--col2 {
      flex-basis: 435px;
    }

    &--col3 {
      flex-basis: 180px;
    }

    @media (max-width: 1065px) {

      &--col3 {
        flex-basis: 100%;
        margin-top: 15px;
      }
    }

    @media (max-width: 865px) {

      &--col2 {
        flex-basis: 100%;
        margin-top: 15px;
        order: 3;
      }

      &--col3 {
        flex-basis: 180px;
        margin-top: 0px;
        order: 2;
      }
    }

    @media (max-width: 605px) {

      &--col2 {
        order: 2;
        margin-bottom: 10px;
      }

      &--col3 {
        order: 3;
        flex-basis: 100%;
      }

    }

    @media (max-width: 475px) {

      &--col1 {
        flex-basis: 100%;
      }

    }
  }

  &__logo {
    max-width: 205px;
    width: 100%;
    margin-bottom: 15px;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 865px) {
    padding: 15px 0;
  }

}

.footer-title {
  color: $white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 250px;

  @media (max-width: 1065px) {
    margin-bottom: 10px;
  }

  @media (max-width: 475px) {
    max-width: 100%;
    margin-bottom: 5px;
  }
}

.footer-form {
  overflow: hidden;
  position: relative;

  input {
    display: block;
    width: 100%;
    border: 1px solid $ngray;
    padding: 9px 55px 8px 12px;
    background-color: transparent;

    &::placeholder {
      font-size: 14px;
      color: $fwhite;
      text-transform: capitalize;
    }
  }

  button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 55px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;

    svg {

      fill: $ngray;

      path {
        width: 34px;
        height: 21px;
      }
    }
  }
}

.footer-catalog {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 40px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }

  }

  &__link {
    color: $schooner;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 475px) {
    display: block;

    &:not(:last-child) {
      margin-bottom: 7px;
      margin-right: 0;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 7px;
      }

    }
  }
}

.footer__calls-menu {
  margin-bottom: 20px;

  @media (max-width: 1065px) {
    margin-bottom: 10px;
  }

  .calls-menu__link {
    color: $white;
  }
}

.footer__mail-link {
  color: $white;
  margin-bottom: 20px;

  @media (max-width: 1065px) {
    margin-bottom: 10px;
  }
}

.footer__social-list {
  li+li {
    margin-left: 10px;
  }
}

.footer-bottom {
  background-color: $mshaft;

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }

  &__menu {
    padding-right: 4px;
  }

  &__list {
    display: flex;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__link {
    font-size: 14px;
    color: $textgray;
  }

  @media (max-width: 550px) {

    &__list {
      flex-wrap: wrap;
      padding-right: 20px;
    }

    &__item {
      padding: 5px 0;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__copyright {
      white-space: nowrap;
      line-height: calc(31 / 14);
    }
  }

}


//footer 