html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

input {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.45;
  color: #000;
  background-color: #f7f7f7;
}

body.lock {
  overflow-y: hidden;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.object-fit {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  font-family: 'object-fit: cover; object-position: center;';
}

.object-fit--left {
  -o-object-position: left;
     object-position: left;
  font-family: 'object-fit: cover; object-position: left;';
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.calls-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
  position: relative;
  padding-left: 30px;
}

.calls-menu li {
  margin-bottom: 2px;
}

.calls-menu li:last-child {
  margin-bottom: 0;
}

.calls-menu__link {
  color: #010101;
}

.calls-menu__link:hover {
  text-decoration: underline;
}

.calls-menu span {
  font-weight: 500;
}

.calls-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 26px;
  background-image: url(../images/icons/icons.svg#phone);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.calls-menu__popup {
  cursor: pointer;
}

.mail-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.mail-link::before {
  content: '';
  margin-right: 10px;
  width: 26px;
  height: 26px;
  background-image: url(../images/icons/icons.svg#mail);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -2px -7px;
}

.mail-link:hover {
  text-decoration: underline;
}

.social-list li {
  display: inline-block;
}

.social__link {
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50%;
}

.social__link--ytb {
  background-color: #e14e42;
}

.social__link--fcb {
  background-color: #3a559f;
}

.social__link--vbr {
  background-color: #7b519d;
}

.title-mid {
  color: #7c7373;
  font-size: calc(20px + 2 * ((100vw - 320px)/ (1200 - 320)));
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
}

.items-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 15px;
}

.items-head__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.items-head__link {
  color: #ff9c00;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
  text-decoration: underline;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

.items-head__link:hover {
  color: #7c7373;
}

.swiper-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.small-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.small-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 30px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.1);
}

.small-card__item:not(:last-child) {
  margin-right: 30px;
}

.small-card__images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.small-card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 18px;
  color: #000;
  max-width: 180px;
  width: 100%;
  min-height: 52px;
}

.scroll__inner {
  height: 125px;
  overflow-y: auto;
  padding-right: 35px;
}

.scroll__text {
  font-size: 13px;
  color: #7c7373;
}

.scroll .simplebar-scrollbar::before {
  width: 4px;
  border-radius: 2px;
  background-color: #e78216;
  opacity: 1;
  left: 0;
  top: 0;
  bottom: 0;
}

.scroll .simplebar-track {
  width: 4px;
  background-color: #dedede;
  border-radius: 2px;
  opacity: 1;
}

.youtube-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #d42428), to(#141414));
  background: -o-linear-gradient(right, #d42428 50%, #141414 100%);
  background: linear-gradient(to left, #d42428 50%, #141414 100%);
  background-size: 210%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -webkit-transition: background-position .4s linear;
  -o-transition: background-position .4s linear;
  transition: background-position .4s linear;
}

.youtube-btn:hover {
  background-position: 100%;
}

.youtube-btn:hover .youtube-btn__square {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.youtube-btn__square {
  position: relative;
  background-color: #fff;
  height: 27px;
  width: 39px;
  border-radius: 4px;
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  -o-transition: transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear;
}

.youtube-btn__square span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-25%, -50%) scale(1);
      -ms-transform: translate(-25%, -50%) scale(1);
          transform: translate(-25%, -50%) scale(1);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid transparent;
  border-left: 12px solid #d42428;
  -webkit-box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.1);
}

.anchor {
  position: fixed;
  right: 285px;
  bottom: 145px;
  z-index: 15;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.anchor--hidden {
  visibility: hidden;
  opacity: 0;
}

.anchor-top {
  background-color: #ff9c00;
  width: 76px;
  height: 76px;
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.anchor-top:hover {
  opacity: 1;
}

.anchor-top svg {
  fill: #ffffff;
}

.copyright {
  font-size: 14px;
  color: #8b8787;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: black;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* cont popup */

.out-popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  visibility: hidden;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transition: .55s;
  -o-transition: .55s;
  transition: .55s;
  z-index: 0;
}

/* btn close  */

.close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  line-height: 1;
  right: 4px;
  top: 4px;
  background: gray;
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
  cursor: pointer;
}

.close:hover {
  background: red;
}

/* content popup */

.popup-window {
  will-change: transform;
  max-width: 550px;
  max-height: 95vh;
  overflow: auto;
  padding: 15px;
  background: #ffffff;
  color: #313030;
  -webkit-transition: .52s;
  -o-transition: .52s;
  transition: .52s;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  -ms-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  z-index: 1000;
  padding: 35px;
}

.view__out {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

.view__popup {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  -ms-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.hidden__popup {
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  -ms-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

/* scroll content popup  */

/* .popup-window::-webkit-scrollbar {
    width: 0;
}

.popup-window {
    -ms-overflow-style: none;
}

.popup-window {
    scrollbar-width: none;
} */

/* scroll   */

.header {
  background-color: #ffffff;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 262px;
          flex: 0 1 262px;
}

.header__logo img {
  max-width: 100%;
}

.header-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 25px;
}

.header-content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0;
}

.header-calls {
  margin: 0 10px;
}

.header-mail {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 180px;
          flex: 0 1 180px;
  margin-right: 10px;
}

.header-mail__link {
  margin: 0 0 5px 0;
}

.header-callback-btn {
  width: 100%;
  background-color: #161615;
  color: #fff;
  padding: 12px 15px;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.header-callback-btn:hover {
  opacity: 0.5;
}

.header-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
  text-align: right;
}

.header-social {
  margin-bottom: 15px;
}

.header-social li + li {
  margin-left: 15px;
}

.header-social a {
  opacity: 0.5;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.header-social a:hover {
  opacity: 1;
}

.header-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.header-entry:hover {
  text-decoration: underline;
}

.header-entry::before {
  content: '';
  width: 23px;
  height: 23px;
  background-image: url(../images/icons/icons.svg#input);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 15px;
}

.header-content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.catalog {
  background-color: #e78216;
  cursor: pointer;
  position: relative;
}

.catalog__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 15px 14px 15px;
}

.catalog__title span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

.catalog__title.active .catalog__icon {
  fill: #fff;
  opacity: 1;
}

.catalog__icon {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  fill: #ccc;
  opacity: 0.6;
  -webkit-transition: fill .2s linear, opacity .2s linear;
  -o-transition: fill .2s linear, opacity .2s linear;
  transition: fill .2s linear, opacity .2s linear;
}

.catalog-menu {
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  background-color: #ff9c00;
  width: 100%;
  opacity: 0;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.catalog-menu.active {
  opacity: 1;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.catalog-item {
  position: relative;
}

.catalog-item.active .catalog-item__inner {
  background-color: transparent;
}

.catalog-item.active .catalog-item__inner:before {
  background-color: #fff;
  -webkit-transform: scaleX(1.1);
      -ms-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.catalog-item.active .catalog-item__name {
  color: #000000;
}

.catalog-item.active .catalog__menu-l2 {
  opacity: 1;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.catalog-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 56px;
  font-size: 17px;
  padding: 5px 15px;
  overflow: hidden;
}

.catalog-item__inner svg {
  position: relative;
  z-index: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.catalog-item__inner:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff9c00;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: background-color .2s linear, -webkit-transform .2s linear;
  transition: background-color .2s linear, -webkit-transform .2s linear;
  -o-transition: background-color .2s linear, transform .2s linear;
  transition: background-color .2s linear, transform .2s linear;
  transition: background-color .2s linear, transform .2s linear, -webkit-transform .2s linear;
}

.catalog-item__name {
  color: #fff;
  margin-right: 2px;
  position: relative;
  z-index: 3;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

.l2-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100%;
  width: 265px;
  opacity: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-box-shadow: 0px 2px 50px 0px #00000014;
          box-shadow: 0px 2px 50px 0px #00000014;
}

.l2-menu__list {
  background-color: #e78216;
}

.l2-menu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 56px;
  padding: 5px 15px 5px 30px;
  overflow: hidden;
}

.l2-menu__list li:hover {
  background-color: #fff;
  color: #000000;
}

.l2-menu__link {
  width: 100%;
  background-color: #fff;
  padding: 15px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l2-menu__link:hover {
  text-decoration: underline;
}

.l2-menu__link svg {
  fill: #e78216;
}

.header-catalog {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 278px;
          flex: 0 0 278px;
  margin: 0 28px 0 0;
}

.header-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 450px;
          flex: 1 1 450px;
  margin-right: 10px;
}

.header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__link {
  text-transform: uppercase;
  vertical-align: top;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.header-nav__link:hover {
  text-decoration: underline;
}

.header-nav li {
  line-height: 16px;
  padding-right: 15px;
}

.header-nav li + li {
  padding-left: 18px;
  border-left: 1px solid #d0d0d0;
}

.header-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 262px;
          flex: 1 1 262px;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 3px;
  min-width: 155px;
}

.header-form__input {
  display: block;
  width: 100%;
  border: 1px solid #e78216;
  background-color: #fdf9e4;
  line-height: 20px;
  padding: 8px 60px 8px 13px;
}

.header-form__input:hover {
  text-decoration: underline;
}

.header-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 37px;
}

.search-btn {
  display: none;
}

.search-btn.active {
  opacity: 0.6;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.header-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1bcdc3;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 111px;
          flex: 0 0 111px;
  padding: 30px 25px;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.header-basket__circle {
  display: none;
}

.header-basket svg {
  fill: #fff;
  width: 37px;
  height: 34px;
}

.header-basket:hover {
  text-decoration: underline;
}

/* brg */

.header__brg {
  display: none;
  position: relative;
  z-index: 21;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.brg-menu {
  opacity: 0;
  -webkit-transform: translate3d(-110%, 0, 0);
          transform: translate3d(-110%, 0, 0);
  -webkit-transition: opacity .1s linear, -webkit-transform .2s linear;
  transition: opacity .1s linear, -webkit-transform .2s linear;
  -o-transition: opacity .1s linear, transform .2s linear;
  transition: opacity .1s linear, transform .2s linear;
  transition: opacity .1s linear, transform .2s linear, -webkit-transform .2s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(231, 130, 22, 0.95);
  width: 61%;
  height: 100vh;
  overflow-y: auto;
  padding: 65px 15px 45px;
}

.brg-menu__phone {
  display: none;
  padding-left: 0;
}

.brg-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.header__brg span {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #e78216;
  position: absolute;
  top: 9px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.header__brg::after,
.header__brg::before {
  content: "";
  border-radius: 1px;
  width: 100%;
  height: 3px;
  background-color: #e78216;
  position: absolute;
  left: 0;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  -o-transition: transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.header__brg::after {
  top: 0;
}

.header__brg::before {
  bottom: 0;
}

.header__brg.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 8px;
  background-color: #fff;
}

.header__brg.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 9px;
  background-color: #fff;
}

.header__brg.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: #fff;
}

.popup-calls__btn {
  width: 28px;
  height: 28px;
  background-image: url(../images/icons/icons.svg#phone);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: cover;
  cursor: pointer;
  display: none;
}

.popup-calls__content .header-calls {
  padding-left: 0;
}

.popup-calls__content .calls-menu li {
  margin-bottom: 15px;
  text-align: center;
}

.popup-calls__content .calls-menu li:last-child {
  margin-bottom: 0;
}

.popup-calls__content .calls-menu__link {
  font-size: 24px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.main-slider {
  padding-top: 24px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-slider__wrapper {
  position: relative;
  max-width: 862px;
  width: 100%;
  max-height: 448px;
  overflow: hidden;
}

.main-slider__slide {
  display: block;
  position: relative;
}

.main-slider__img {
  position: relative;
  padding-bottom: 49.8%;
}

.main-slider__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main-slider__circle {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 470px;
  width: 100%;
  -webkit-transform: translate(7%, -34%);
      -ms-transform: translate(7%, -34%);
          transform: translate(7%, -34%);
  border-radius: 50%;
  background-color: rgba(141, 139, 139, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0 100px 0;
}

.main-slider__text {
  color: #fff;
  max-width: 230px;
}

.main-slider__title {
  font-size: calc(20px + 14 * ((100vw - 320px) / (1200 - 320)));
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-slider__subtitle {
  font-size: 20px;
  text-align: center;
}

.main-slider__price {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(0%, 12%);
      -ms-transform: translate(0%, 12%);
          transform: translate(0%, 12%);
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #ff9c00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #35302d;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.main-slider__price span {
  font-size: calc(18px + 22 * ((100vw - 320px) / (1200 - 320)));
  color: #fff;
  margin: 10px 0;
  max-width: 115px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.main-slider .swiper-pagination {
  left: 0;
  bottom: 20px;
  z-index: 1;
}

.main-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 1;
  margin-right: 24px;
}

.main-slider .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

.main-slider .swiper-pagination-bullet-active {
  position: relative;
}

.main-slider .swiper-pagination-bullet-active:after {
  content: '';
  position: absolute;
  -webkit-transform: translate(-50%, -35%);
      -ms-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 20px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

.swiper-button-prev {
  left: 0;
  -webkit-transform: rotate(180deg) translate(40%, 0);
      -ms-transform: rotate(180deg) translate(40%, 0);
          transform: rotate(180deg) translate(40%, 0);
}

.swiper-button-next {
  right: 0;
  -webkit-transform: translate(40%, 0);
      -ms-transform: translate(40%, 0);
          transform: translate(40%, 0);
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 2;
  background-color: #f7f7f7;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.swiper-button-next:hover svg,
.swiper-button-prev:hover svg {
  fill: #ff9c00;
  stroke: #ff9c00;
  stroke-width: 2px;
  stroke-linejoin: round;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: none;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  fill: #949494;
  stroke: #949494;
}

.swiper-slide {
  height: auto;
}

.slider-items__inner {
  position: relative;
}

.slider-items-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e9e9e9;
}

.slider-card {
  padding: 15px;
  text-align: center;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid transparent;
  -webkit-transition: border .2s;
  -o-transition: border .2s;
  transition: border .2s;
  position: relative;
}

.slider-card:hover {
  border: 2px solid #ff9c00;
  -webkit-box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.1);
}

.slider-card__images {
  max-width: 100%;
  max-height: 235px;
  margin-bottom: 15px;
}

.slider-card__images img {
  height: 100%;
  max-width: 100%;
}

.slider-card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.slider-card__title span {
  display: inline-block;
  max-width: 225px;
}

.slider-card__price {
  margin-bottom: 10px;
}

.slider-card__buy {
  margin-bottom: 12px;
}

.card-price__before {
  color: #7c7373;
  font-size: 16px;
  position: relative;
  margin: 0 10px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.card-price__before:after {
  content: '';
  position: absolute;
  top: 50%;
  left: -8px;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  width: calc(100% + 15px);
  height: 2px;
  background-color: #ff0000;
  z-index: 3;
}

.card-price__now {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.button-buy {
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ff9c00;
  min-height: 50px;
  padding: 5px 15px;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.button-buy span {
  text-transform: uppercase;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

.button-buy svg {
  width: 24px;
  height: 24px;
  fill: #000;
  margin: 0 20px 7px 0;
  -webkit-transition: fill .2s linear;
  -o-transition: fill .2s linear;
  transition: fill .2s linear;
}

.button-buy:hover svg {
  fill: #fff;
}

.button-buy:hover span {
  color: #fff;
}

.button-buy:hover {
  background-color: #ff9c00;
}

.button-compare {
  font-size: 14px;
  position: relative;
  padding: 8px 0 8px 45px;
}

.button-compare:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -7px;
  z-index: 5;
  background-image: url(../images/icons/icons.svg#libra);
  height: 55px;
  width: 46px;
}

.button-compare:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: -1px;
  top: 8;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1bcdc3;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

.slider-card__label {
  position: absolute;
  top: -2px;
  left: -2px;
  border-top: solid 44px;
  border-left: solid 44px;
  border-bottom: solid 44px transparent;
  border-right: solid 44px transparent;
}

.slider-card__label span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  max-width: 76px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  top: -15px;
  left: -15px;
  font-size: 14px;
  line-height: 1.1;
  color: #fff;
  padding: 2px 4px;
  overflow: hidden;
}

.slider-card__label--bestseller {
  border-top-color: #ff9c00;
  border-left-color: #ff9c00;
}

.slider-card__label--promo {
  border-top-color: #ff411c;
  border-left-color: #ff411c;
}

.slider-card__label--new {
  border-top-color: #39c05f;
  border-left-color: #39c05f;
}

.main-mailing {
  margin-top: 45px;
  overflow: hidden;
}

.mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 110px;
  background-color: #00b5ab;
  position: relative;
  overflow: hidden;
}

.no-webp .mailing::before {
  background-image: url(../images/mailling/mail.png); }

.mailing::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-3%, -9%);
      -ms-transform: translate(-3%, -9%);
          transform: translate(-3%, -9%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 153px;
  height: 135px;
}

.mailing label {
  font-size: 16px;
  font-weight: 500;
  color: #fefefe;
  text-transform: uppercase;
  padding-right: 10px;
}

.mailing__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 460px;
          flex: 0 1 460px;
  position: relative;
}

.mailing input {
  display: block;
  width: 100%;
  padding: 8px 60px 8px 10px;
  border: 1px solid #A3E5E1;
  background-color: #66d3cd;
  position: relative;
}

.mailing input::-webkit-input-placeholder {
  color: #fefefe;
  font-size: 14px;
}

.mailing input::-moz-placeholder {
  color: #fefefe;
  font-size: 14px;
}

.mailing input:-ms-input-placeholder {
  color: #fefefe;
  font-size: 14px;
}

.mailing input::-ms-input-placeholder {
  color: #fefefe;
  font-size: 14px;
}

.mailing input::placeholder {
  color: #fefefe;
  font-size: 14px;
}

.mailing button {
  width: 58px;
  height: 38px;
  position: absolute;
  right: -4px;
  top: -2px;
  overflow: hidden;
}

.mailing button:hover svg {
  fill: #e78216;
}

.mailing button svg {
  fill: #d9f4f3;
  -webkit-transition: fill .2s;
  -o-transition: fill .2s;
  transition: fill .2s;
}

.video-slider {
  margin-bottom: 40px;
}

.video-slider__content {
  padding-bottom: 65px;
}

.video-slider__item {
  position: relative;
  padding-bottom: 53%;
  overflow: hidden;
  min-height: 265px;
}

.video-slider__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 100%;
}

.video-slider__img img {
  height: 100%;
  max-width: 100%;
}

.video-slider__circle {
  width: 310px;
  height: 278px;
  border-radius: 50%;
  background-color: #ff9c00;
  position: absolute;
  left: 20px;
  bottom: 0;
  z-index: 5;
  -webkit-transform: translate(0, 35%);
      -ms-transform: translate(0, 35%);
          transform: translate(0, 35%);
  padding: 50px 50px 130px;
  text-align: center;
}

.video-slider__title {
  display: inline-block;
  max-width: 180px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.video-slider__link {
  font-size: 18px;
  color: #a36708;
}

.video-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #d0d0d0;
  opacity: 1;
  margin-right: 24px;
}

.video-slider .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

.video-slider .swiper-pagination-bullet-active {
  position: relative;
  background-color: #ff9c00;
}

.video-slider .swiper-pagination-bullet-active:after {
  content: '';
  position: absolute;
  -webkit-transform: translate(-50%, -35%);
      -ms-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  width: 32px;
  height: 32px;
  border: 1px solid #ff9c00;
  border-radius: 50%;
}

.video-slider__btn {
  position: absolute;
  top: 0px;
  right: -25px;
  -webkit-transform: translate(0, 75%);
      -ms-transform: translate(0, 75%);
          transform: translate(0, 75%);
}

.faq-info {
  margin-bottom: 70px;
}

.footer-top {
  background-color: #403c3b;
  padding: 30px 0;
}

.footer-top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-top__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
}

.footer-top__col:not(:last-child) {
  padding-right: 4px;
}

.footer-top__col--col1 {
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
}

.footer-top__col--col2 {
  -ms-flex-preferred-size: 435px;
      flex-basis: 435px;
}

.footer-top__col--col3 {
  -ms-flex-preferred-size: 180px;
      flex-basis: 180px;
}

.footer-top__logo {
  max-width: 205px;
  width: 100%;
  margin-bottom: 15px;
}

.footer-top__logo img {
  max-width: 100%;
  height: 100%;
}

.footer-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 250px;
}

.footer-form {
  overflow: hidden;
  position: relative;
}

.footer-form input {
  display: block;
  width: 100%;
  border: 1px solid #8C8A89;
  padding: 9px 55px 8px 12px;
  background-color: transparent;
}

.footer-form input::-webkit-input-placeholder {
  font-size: 14px;
  color: #fefefe;
  text-transform: capitalize;
}

.footer-form input::-moz-placeholder {
  font-size: 14px;
  color: #fefefe;
  text-transform: capitalize;
}

.footer-form input:-ms-input-placeholder {
  font-size: 14px;
  color: #fefefe;
  text-transform: capitalize;
}

.footer-form input::-ms-input-placeholder {
  font-size: 14px;
  color: #fefefe;
  text-transform: capitalize;
}

.footer-form input::placeholder {
  font-size: 14px;
  color: #fefefe;
  text-transform: capitalize;
}

.footer-form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
}

.footer-form button svg {
  fill: #8C8A89;
}

.footer-form button svg path {
  width: 34px;
  height: 21px;
}

.footer-catalog {
  display: inline-block;
}

.footer-catalog:not(:last-child) {
  margin-right: 40px;
}

.footer-catalog__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-catalog__link {
  color: #998985;
}

.footer-catalog__link:hover {
  text-decoration: underline;
}

.footer__calls-menu {
  margin-bottom: 20px;
}

.footer__calls-menu .calls-menu__link {
  color: #ffffff;
}

.footer__mail-link {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__social-list li + li {
  margin-left: 10px;
}

.footer-bottom {
  background-color: #383434;
}

.footer-bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

.footer-bottom__menu {
  padding-right: 4px;
}

.footer-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom__item:not(:last-child) {
  margin-right: 25px;
}

.footer-bottom__link {
  font-size: 14px;
  color: #8b8787;
}

@media (min-width: 1200px) {
  .main-slider__title {
    font-size: 34px;
  }

  .main-slider__price span {
    font-size: 40px;
  }
}

@media (max-width: 1900px) {
  .anchor {
    right: 20px;
    bottom: 50px;
  }
}

@media (max-width: 1215px) {
  .swiper-button-prev {
    left: 5px;
  }

  .swiper-button-next {
    right: 5px;
  }
}

@media (max-width: 1214px) {
  .main-slider__wrapper {
    max-width: 100%;
  }

  .main-slider__img {
    min-height: 240px;
    position: relative;
    padding-bottom: 36.8%;
  }
}

@media (max-width: 1165px) {
  .mailing {
    padding: 20px;
  }
}

@media (max-width: 1114px) {
  .slider-card {
    max-width: 330px;
    margin: 0 auto;
  }
}

@media (max-width: 1095px) {
  .header-catalog {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 278px;
            flex: 0 1 278px;
    min-width: 205px;
    margin: 0 10px 0 0;
  }
}

@media (max-width: 1065px) {
  .header-content {
    margin-right: 10px;
  }

  .header-nav li {
    padding-right: 7px;
  }

  .header-nav li + li {
    padding-left: 7px;
  }

  .footer-top__col--col3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 15px;
  }

  .footer-title {
    margin-bottom: 10px;
  }

  .footer__calls-menu {
    margin-bottom: 10px;
  }

  .footer__mail-link {
    margin-bottom: 10px;
  }
}

@media (max-width: 975px) {
  .container {
    padding: 0 10px;
  }

  .items-head {
    padding: 20px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }

  .header-content-top {
    padding: 10px 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .header-calls {
    margin-bottom: 10px;
  }

  .header-calls:before {
    display: none;
  }

  .header-mail {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: 0;
  }

  .header-mail__link {
    margin: 0 15px;
  }

  .header-mail__link:before {
    width: 37px;
    height: 30px;
    margin-right: 0;
  }

  .header-mail span {
    display: none;
  }

  .header-box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 7px;
  }

  .header-social {
    text-align: center;
  }

  .header-social a {
    opacity: 1;
  }

  .header-entry span {
    display: none;
  }

  .header-entry:before {
    width: 27px;
    height: 27px;
    margin-right: 0;
  }

  .header-nav {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    margin-right: 0;
  }

  .header-nav__menu {
    display: block;
    margin-bottom: 20px;
  }

  .header-nav__link {
    font-size: 20px;
    color: #fff;
  }

  .header-nav li {
    padding-right: 0px;
    text-align: center;
  }

  .header-nav li + li {
    padding-left: 0px;
    border-left: none;
    margin-top: 20px;
  }

  .header-form {
    margin-top: 0;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .header-basket {
    padding: 15px;
  }

  .header__brg {
    display: block;
    margin-right: 15px;
  }

  .popup-calls__btn {
    display: block;
  }

  .main-slider.container {
    padding: 10px 10px 0px;
  }

  .main-slider__circle {
    max-width: 325px;
    padding: 140px 0 70px 0;
  }

  .main-slider__price {
    bottom: 30px;
    left: -55px;
    font-size: 16px;
    height: 115px;
    width: 115px;
  }

  .main-slider__price span {
    margin: 3px;
    max-width: 75px;
  }
}

@media (max-width: 905px) {
  .small-card__item {
    padding: 15px;
  }

  .small-card__item:not(:last-child) {
    margin-right: 15px;
  }

  .small-card__text {
    font-size: 16px;
  }
}

@media (max-width: 865px) {
  .footer-top__col--col2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 15px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer-top__col--col3 {
    -ms-flex-preferred-size: 180px;
        flex-basis: 180px;
    margin-top: 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer-top {
    padding: 15px 0;
  }
}

@media (max-width: 861px) {
  .slider-card {
    padding: 5px;
  }

  .slider-card__title {
    margin-bottom: 5px;
  }

  .slider-card__title span {
    max-width: 100%;
    padding: 0px 5px;
  }

  .slider-card__price {
    margin-bottom: 5px;
  }

  .slider-card__buy {
    margin-bottom: 7px;
    min-height: 45px;
  }
}

@media (max-width: 775px) {
  .main-mailing {
    margin-top: 20px;
  }
}

@media (max-width: 770px) {
  .video-slider {
    margin-bottom: 10px;
  }

  .video-slider__content {
    padding-bottom: 50px;
  }

  .video-slider__item {
    padding-bottom: 45%;
    max-width: 445px;
    margin: 0 auto;
  }

  .faq-info {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .scroll__inner {
    height: 160px;
    padding-right: 20px;
  }

  .anchor-top {
    height: 50px;
    width: 50px;
  }

  .anchor-top svg {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 705px) {
  .mailing {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
  }

  .mailing label {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
    margin-bottom: 10px;
  }

  .mailing__box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 685px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 160px;
            flex: 0 1 160px;
  }

  .header-content {
    margin-right: 0px;
  }

  .header-basket {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    background-color: transparent;
    position: relative;
    margin-left: 25px;
  }

  .header-basket__text {
    display: none;
  }

  .header-basket__circle {
    display: block;
    width: 22px;
    height: 22px;
    padding: 0 3px;
    background-color: #1bcdc3;
    border-radius: 50%;
    color: #fff;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translate(50%, -13px);
        -ms-transform: translate(50%, -13px);
            transform: translate(50%, -13px);
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
  }

  .header-basket svg {
    fill: #fd9d05;
    width: 29px;
    height: 29px;
  }

  .main-slider__subtitle {
    font-size: 16px;
  }

  .main-slider .swiper-pagination {
    display: none;
  }
}

@media (max-width: 675px) {
  .small-card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .small-card__item {
    -ms-flex-preferred-size: calc(50% - 5px);
        flex-basis: calc(50% - 5px);
    margin-bottom: 10px;
  }

  .small-card__item:not(:last-child) {
    margin-right: 0px;
  }
}

@media (max-width: 605px) {
  .footer-top__col--col2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 10px;
  }

  .footer-top__col--col3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 585px) {
  .container {
    padding: 0 5px;
  }

  .items-head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px 5px;
  }

  .items-head__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .items-head__link {
    font-size: 14px;
    line-height: 22px;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 7px;
  }

  .catalog__title {
    padding: 7px 15px;
  }

  .catalog-item.active .catalog__menu-l2 {
    width: 100%;
    display: block;
  }

  .catalog-item__inner {
    height: auto;
    padding: 8px 10px;
  }

  .l2-menu {
    display: none;
    left: 0;
    z-index: 6;
    position: static;
  }

  .l2-menu__list li {
    padding: 10px 15px;
    height: auto;
  }

  .l2-menu__link {
    padding: 10px 15px;
  }

  .main-slider.container {
    padding: 5px 5px 0px;
  }
}

@media (max-width: 575px) {
  .faq-info {
    margin-bottom: 15px;
  }
}

@media (max-width: 550px) {
  .anchor-top {
    height: 35px;
    width: 35px;
  }

  .anchor-top svg {
    width: 25px;
    height: 25px;
  }

  .header-form {
    display: block;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: opacity .2s linear, -webkit-transform .2s linear;
    transition: opacity .2s linear, -webkit-transform .2s linear;
    -o-transition: opacity .2s linear, transform .2s linear;
    transition: opacity .2s linear, transform .2s linear;
    transition: opacity .2s linear, transform .2s linear, -webkit-transform .2s linear;
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center;
  }

  .header-form.active {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .search-btn {
    display: block;
  }

  .footer-bottom__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 20px;
  }

  .footer-bottom__item {
    padding: 5px 0;
  }

  .footer-bottom__item:not(:last-child) {
    margin-right: 10px;
  }

  .footer-bottom__copyright {
    white-space: nowrap;
    line-height: calc(31 / 14);
  }
}

@media (max-width: 536px) {
  .slider-card {
    max-width: 370px;
  }

  .slider-card__images {
    max-width: 100%;
    max-height: 280px;
    margin-bottom: 15px;
  }
}

@media (max-width: 475px) {
  .items-head {
    padding: 10px 5px;
  }

  .items-head__link {
    margin-top: 3px;
  }

  .scroll__inner {
    padding-right: 15px;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo img {
    max-width: 160px;
  }

  .header-content-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header-mail__link {
    display: block;
    text-align: center;
    margin: 0;
  }

  .header-mail__link:before {
    content: none;
  }

  .header-mail__link span {
    color: #fff;
    font-size: 18px;
  }

  .header-box {
    display: none;
  }

  .header-entry {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 35px;
    color: #fff;
  }

  .header-entry span {
    color: #fff;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
  }

  .header-entry:before {
    display: none;
  }

  .header-basket {
    margin-left: 0;
  }

  .brg-menu {
    width: 100%;
  }

  .brg-menu__phone {
    display: block;
  }

  .brg-menu__phone::before {
    content: none;
  }

  .brg-menu__phone li {
    text-align: center;
  }

  .brg-menu__phone a {
    color: #fff;
    font-size: 18px;
  }

  .popup-calls__btn {
    display: none;
  }

  .main-slider__circle {
    max-width: 260px;
    padding: 100px 0 60px;
  }

  .main-slider__title {
    padding-left: 25px;
  }

  .main-slider__price {
    width: 95px;
    height: 95px;
    bottom: -30px;
    left: 0;
  }

  .main-mailing {
    margin-top: 10px;
  }

  .footer-top__col--col1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .footer-title {
    max-width: 100%;
    margin-bottom: 5px;
  }

  .footer-catalog {
    display: block;
  }

  .footer-catalog:not(:last-child) {
    margin-bottom: 7px;
    margin-right: 0;
  }

  .footer-catalog__item:not(:last-child) {
    margin-bottom: 7px;
  }
}

@media (max-width: 410px) {
  .video-slider__circle {
    height: 260px;
    width: 290px;
    left: 0;
    padding: 65px 30px 100px;
  }

  .video-slider__btn {
    top: -75px;
    left: 40px;
    right: auto;
  }

  .faq-info {
    margin-bottom: 10px;
  }
}

.webp .mailing::before { background-image: url(../images/mailling/mail.webp); }